/*public section  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul{
    list-style-type: none;
}
:root{
    --primarycolor:#FB2E86;
    --color-text:#151875;
    --color-background:#F2F0FF;
    --color-text2:#8A8FB9;
    --mainfont: "Lato", sans-serif;
    --fontmain2:"Josefin Sans", sans-serif;
}
h2{
    font-family:var(--fontmain2) ;
    color:var(--color-text);
    font-size: 35px;
}

 .container{
    width: 75%;
    max-width: 1920px;
    margin: 0 auto;
}
.btn{
    border: none;
    padding: 12px 39px;
    background-color: var(--primarycolor);
}
 .btn-view{
    background-color: #08D15F;
    color: #fff;
    font-family: var(--fontmain2);
    font-size: 12px;
    font-weight: 500;
    padding: 8px 13px;
    border: 0;
    outline: 0;
    position: absolute;
    /* opacity: 0; */
    transition: 1s;
 }
.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
@media screen and (min-width:0) and (max-width:660px) {
        .container{
        width: 95%;
    }
}
@media screen and (min-width:661px) and (max-width:1200px) {
        .container{
        width: 90%;
    }
}
@media screen and (min-width:1201px) and (max-width:1500px) {
        .container{
        width: 80%;
    }
}
/* end public section */