
/* start header */
.header{
    padding: 47px 0 35px;
    font-family:var(--mainfont);
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
}
.header .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.header .left-side{
    display: flex;
    align-items: center;
    gap: 88px;
}
.logo{
    width: 98px;
    height: 34px;
}
.logo img{
 width: 100%;
}
.left-side .list ul{
    display: flex;
    gap: 35px;
}
.left-side li a{
    color: #0D0E43;
    transition: .7s;
}
.left-side li :hover{
    color: var(--primarycolor);
    font-size: 30px;
}
.search-form form{
    display: flex;
    height: 40px;
    border: 1px solid #E7E6EF;
}
.search-form input{
    border: none;
    width: 266px;
}
.search-form button{
    background-color: var(--primarycolor);
    padding: 8px 13px;
    text-align: center;
    border: 0;
}

.menu{
    display: none;
}

@media screen and (min-width:0) and (max-width:660px) {
    .list, .search-form{
        display: none;
    }
    .menu{
        display: block;
    }
    .header{
        background-color:var(--primarycolor);
    }
}

/* end header section */
/* start hero section */
.hero{
    background-color:var(--color-background);
    padding:43px 0 32px;
}
.hero .row{
    flex-wrap: nowrap;
    gap: 82.92px;
}
.hero .hero-details{
    width: calc((100% - 82.92px ) / 2 );

}
.hero .hero-details h1{
    font-family:var(--fontmain2);
    font-size: 53px;
    line-height: 171%;
    font-weight:700;
    letter-spacing: 1.5%;
    margin: 3px 0;

}
.hero-info span{
    color: var(--color-text2);
    display: block;
    line-height: 28px;
}
.hero-details .Best-Furniture{
    width: 50%;
    color: var(--primarycolor);
}
.hero button{
    margin-top: 7px;
    font-family: var(--fontmain2);
    color:#fff;
    font-size: 17px;
    font-weight: 600;
}
.hero-img{
    width:calc((100% - 82.92px) /2);
}
.hero-img img{
    width: 100%;
}

@media screen and (min-width:0px) and (max-width:660px){
    .hero .row{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        text-align: center;
        gap: 20px;

    }
    .hero .hero-details{
        width: 100%;
        text-align: center;
        
    }
    .hero .hero-img img{
        width: 120%;
    }
    .hero .hero-details h1{
        font-size: 30px;
    }
    .hero-info span{
     display: none;
}
}
 @media screen and (min-width:661px) and (max-width:1200px){
    .hero .row{
        justify-content: space-between;
        gap:0;
    }
    .hero .hero-details{
    width: 55%;
    }
    .hero .hero-img{
    width: 40%;
    }
    .hero .hero-img img{
    width: 100%;
    }
        .hero .hero-details h1{
        font-size: 40px;
    }

}


/* end hero section */
/* start Featured Products section */
.featured-products{
    padding: 129px 0 128px;
}
.featured-products .row{
    flex-direction: column;
    gap: 48px;
}
.products-cards .row{
    flex-direction: row;
    gap: 29px;
    align-items: center;
    justify-content: center;
}
.product{
    box-shadow: 0 0 25px 0 #0000001A;
}
.product .row{
    text-align: center;
    flex-direction: column;
    gap:0;
}
.product:hover .products-details{
    background-color:#2F1AC4;
}
.product:hover h3 , .product:hover span {
    color: #fff;
}

.product-img{
    background-color: #F6F7FB;
    width: 270px;
    height: 236px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.product-icon{
    display: flex;
    gap: 16px;
    position: absolute;
    top: 18px;
    left: 16px;
    opacity: 0;
    transition: 1s;
}
.icon-shop{
    border-radius: 50%;
    background-color:#0000000D ;
    box-shadow: 0px 0px 4px 0px #0000000D;
}
.product-img button{
    background-color: #08D15F;
    color: #fff;
    font-family: var(--fontmain2);
    font-size: 12px;
    font-weight: 500;
    padding: 8px 13px;
    border: 0;
    outline: 0;
    position: absolute;
    top: 198px;
    left: 95px;
    opacity: 0;
    transition: 1s;
}
.product:hover .product-icon , .product:hover button{
    opacity: 1;
}

.products-details{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 15px;
    transition: 1s;
}
.products-details h3{
    font-family: var(--mainfont);
    color: var(--primarycolor);
}
.btn-color{
    border: 0;
    outline: 0;
    width: 14px;
    height: 4px;
    border-radius: 10px;
}
.color-one{
    background-color: #05E6B7;
}
.color-two{
    background-color: #F701A8;
}
.color-three{
  background-color:#00009D ;  
}
.product-info .row{
    gap: 12px;
    font-family: "Josefin Sans", sans-serif;
    color:var(--color-text);
    font-size: 14px;
    padding-bottom: 17px;
}
.product-info .row .price{
    font-family: var(--mainfont);
}
@media screen and (min-width:0) and (max-width:590px){
    .product{
        width:calc(100% - 1);
    }
      h2{
        font-size: 25px;
    }
    

}
@media screen and (min-width:591px) and (max-width:990px){
    .product{
        width: calc(100% -29px /2);
    }

}

/* end Featured Products section */
/* start Leatest Products section */
.leatest-products{
    text-align: center;
}
.leatest-products .row{
    flex-direction: column;
    justify-content: center;
    gap: 62px;
}
.leatest-list ul{
    display: flex;
    gap: 60px;
    margin-top: 19px;
    font-family: var(--mainfont);
}
.leatest-list a{
    color: var(--color-text);
    transition: .7s;
}
.leatest-list a:hover , .leatest-list a:focus{
    color: var(--primarycolor);
    border-bottom: 1px solid var(--primarycolor);
}
.leatest-products-card .row{
    flex-direction: row;
    column-gap: 37px;
    row-gap: 120px;
}
.leatest-card .row{
    gap: 15.59px;
    flex-direction: column;
}
.leatest-img{
    display: flex; 
    align-items: center;
    justify-content: center;
    position: sticky;
    background-color: #F7F7F7;
    width: 360px;
    height: 269.96px;

}
.leatest-hover{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    opacity: 0;
    transition: 1s;
}
.leatest-card :hover .leatest-hover{
    opacity: 1;
}
.leatest-card :hover {
    background-color: #fff;

}
.leatest-card :hover .img-handy-craft {
    border: 1px solid #000000
    
}
.img-handy-craft img{
    width: 245px;
    height: 245px;
}
.leatest-hover .sale{
    position: absolute;
    top: 25px;
    left: 18px;
}
.leatest-hover .sale img{
    width: 84.87px;
}
.leatest-icon{
    display: flex;
    flex-direction: column;
    gap: 14px;
    position: absolute;
    bottom: 38px;
    left: 24px;
}
.leatest-icon img{
    width: 15px;

}
.leatest-info{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: var(--fontmain2);
    color: var(--color-text);
}
.name-product{
 border-bottom: 2px solid #EEEFFB;
}
.leatest-info .leatest-price{
    display: flex;
    align-items: center;
    gap: 9.73px;
    font-size: 14px;
}
.leatest-price .old-price{
    font-size: 12px;
    color: #FB2448;
    text-decoration: line-through;
}

@media screen and (min-width:0) and (max-width:660px){
    .leatest-products-card .row{
        gap: 20px;
    }
}
/* end Leatest Products section */
/*start What Shopex Offer section*/
.what-offer .row{
    text-align: center;
    flex-direction:column;
    padding-top: 58px;
    gap: 55px;
}
.what-offer-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 28px;
}
.support-card{
    box-shadow: 0px 8px 40px 0px #31208A0D;
    max-width: 270px;
}
.support-card .img-support{
    padding: 56px 103px 0;
}
.support-info .row{
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 27px 27px 45px;
    
}
.support-info h3{
    font-family: var(--fontmain2);
    font-size: 22px;
    color: var(--color-text);
    font-weight: 600;
}
.support-info span{
font-family: Lato;
font-weight: 700;
font-size: 16px;
line-height: 25.6px;
color: #1A0B5B4D;
}
@media screen and (min-width:0) and (max-width:591px){
    .support-card{
        width: 100%;
    }
    

}
/*end What Shopex Offer section*/


/* start trending products section */
.trending-products{
    padding-top: 162px;
    text-align: center;
}
.trending-products h2{
    margin-bottom: 39px;
}
.trending-cards .row{
    justify-content: center;
    gap: 29px;
}
.card-trending {
    padding: 11px 11px 0;
    box-shadow: 0px 8px 40px 0px #31208A0D;
}
.trending-info .row{
    flex-direction: column;
    padding: 15px 0 32px;
    gap: 8px;
}
.trending-info .row h3{
font-family:var(--mainfont);
font-weight: 700;
font-size: 16px;
color: var(--color-text);
}
.trending-info .price{
    display: flex;
    gap: 12px;
    font-family:var(--fontmain2);
    font-weight: 400;
    font-size: 14px;
    color: var(--color-text);
}
.trending-info .price .old-price{
font-family:var(--fontmain2);
font-weight: 400;
font-size: 12px;
text-decoration: line-through;
color: #1518754D;
}
/* end trending products section */

/* start shop-new section */
.shop-new{
    padding:174px 0 103px;
    background-image:url(../img/Rectangle\ 102.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.shop-new .row {
    flex-direction: column;
    text-align: center;
    gap: 28px;
    width:60vh;
}
.shop-new .btn{
    width: 173px;
    height: 49px;
    color: #FFFFFF;
    font-family: "Josefin Sans", sans-serif;

}
@media screen and (min-width:0) and (max-width:590px){
    .shop-new .row{
       width:30vh;
     }
    .shop-new h2{
        font-size: 20px;
    }
    .shop-new .btn{
    width: 100px;
    } 
}
@media screen and (min-width:591px) and (max-width:990px){
    .shop-new h2{
        font-size: 25px;
    }
    .shop-new .btn{
    width:100px;   
   
    }
}
/* end shop-new section */

/* start footer section*/
.footer{
    background-color: #EEEFFB;
    padding: 104.4px 0 112.18px;
}
.footer li a{
    font-family: var(--mainfont);
    color:var(--color-text2) ;
    transition: 1s;
}
.footer li:hover{
    font-size: 20px;
}
.footer .row{
    gap: 71px;
    align-items: flex-start;
}
.footer-left-side .row{
    flex-direction: column;
    align-items: flex-start;
    gap: 34.43px;
} 
.footer-left-side ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 11.11px;
}
.footer-left-side form{
    border: #EEEFFB;
    display: flex;
}
.footer-left-side input{
    border: 0;
    width: 240px;
    
}
.footer-left-side .btn{
    width: 135px;
    height: 43.32px;
    color: #EEEFFB;
    border-radius: 3px;
    font-family: "Roboto", sans-serif;

}

.footer-right-side .row{
    gap: 90px;
    align-items: flex-start;
}
 .catagories .row ,.customer-care .row ,.pages .row {
    flex-direction: column;
    gap: 46px;

}
.footer-right-side .row ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 23.2px;
}
@media screen and (min-width:0) and (max-width:590px){

    .footer-left-side .btn{
        width: 40px;
    }
    .footer-left-side input{
    width: 150px;
    
}
}
@media screen and (min-width:591px) and (max-width:990px){

    .footer-left-side .btn{
        width: 70px;
    }
}

/* end footer section */
