/*public section  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul{
    list-style-type: none;
}
h2{
    font-family: "Josefin Sans", sans-serif;
}
:root{
    --primarycolor:#FB2E86;
    --mainfont: "Lato", sans-serif;

}

 .container{
    width: 100%;
    padding:0 200px;
    max-width: 1920px;
    margin: 0 auto;
}
.btn{
    border: none;
    width: 51px;
    background-color: var(--primarycolor);
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
/* end public section */
/* start header */
.header{
    padding: 47px 0 35px;
    font-family:var(--mainfont);
    position: fixed;
    width: 100%;
}
.header .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.header .left-side{
    display: flex;
    align-items: center;
    gap: 88px;
}
.logo{
    width: 98px;
    height: 34px;
}
.logo img{
 width: 100%;
}
.left-side .list ul{
    display: flex;
    gap: 35px;
}
.left-side li a{
    color: #0D0E43;
    transition: .7s;
}
.left-side li :hover{
    color: var(--primarycolor);
    font-size: 30px;
}
.search-form form{
    display: flex;
    margin-left: 227px;
    height: 40px;
    border: 1px solid #E7E6EF;
}
.search-form input{
    border: none;
    width: 266px;
}

.search-form button img{
    width: 20px;
    margin: 8px;
}
.menu{
    display: none;
}

@media screen and (min-width:0) and (max-width:590px) {
    .container{
        padding:0 15px;
    }
    .list, .search-form{
        display: none;
    }
    .menu{
        display: block;
    }
    .header{
        background-color:var(--primarycolor);
    }
}
@media screen and (min-width:590px) and (max-width:990px) {
        .container{
        padding:0 50px;
    }
    .list, .search-form{
        display: none;
    }
    .menu{
        display: block;
    }
}
/* end header section */
/* start hero section */

.hero{
    height: 700px;
}
/* end hero section */
/* start Featured Products section */
.featured-products{
    padding: 129px 0 53px;
}
.featured-products .row{
    flex-direction: column;
    gap: 48px;
}
.products-cards .row{
    flex-direction: row;
    gap: 29px;
    align-items: center;
    justify-content: center;
}
.featured-products h2{
    font-size: 35px;
    color: #151875;
}
.product{
    box-shadow: 0 0 25px 0 #0000001A;
}
.product .row{
    text-align: center;
    flex-direction: column;
    gap: 15px;
}
.product-img{
    background-color: #F6F7FB;
    width: 270px;
    height: 236px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.products-details{
    display: flex;
    flex-direction: column;
    gap: 12px;

}
.products-details h3{
    font-family: var(--mainfont);
    color: var(--primarycolor);
}
.btn-color{
    border: 0;
    outline: 0;
    width: 14px;
    height: 4px;
    border-radius: 10px;
}
.color-one{
    background-color: #05E6B7;
}
.color-two{
    background-color: #F701A8;
}
.color-three{
  background-color:#00009D ;  
}
.product-info .row{
    gap: 12px;
    font-family: "Josefin Sans", sans-serif;
    color: #151875;
    font-size: 14px;
    padding-bottom: 17px;
}
.product-info .row .price{
    font-family: var(--mainfont);
}
@media screen and (min-width:0) and (max-width:590px){
    .product{
        width:calc(100% - 1);
    }
    

}
@media screen and (min-width:591px) and (max-width:990px){
    .product{
        width: calc(100% -29px /2);
    }

}


/* end Featured Products section */
/* start shop-new section */
.shop-new{
    padding:174px 0 103px;
    background-image:url(../img/Rectangle\ 102.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.shop-new .row {
    flex-direction: column;
    text-align: center;
    gap: 28px;
    width:60vh;
}
.shop-new h2{
    font-size: 35px;
    color: #151875;
}
.shop-new .btn{
    width: 173px;
    height: 49px;
    color: #FFFFFF;
    font-family: "Josefin Sans", sans-serif;

}
@media screen and (min-width:0) and (max-width:590px){
    .shop-new .row{
       width:30vh;
     }
    .shop-new h2{
        font-size: 20px;
    }
    .shop-new .btn{
    width: 100px;
    } 
}
@media screen and (min-width:591px) and (max-width:990px){
    .shop-new h2{
        font-size: 25px;
    }
    .shop-new .btn{
    width:100px;   
   
    }
}
/* end shop-new section */


/* start footer section*/
.footer{
    background-color: #EEEFFB;
    padding: 104.4px 0 112.18px;
}
.footer li a{
    font-family: var(--mainfont);
    color: #8A8FB9;
    transition: 1s;
}
.footer li:hover{
    font-size: 20px;
}
.footer .row{
    gap: 71px;
    align-items: flex-start;
}
.footer-left-side .row{
    flex-direction: column;
    align-items: flex-start;
    gap: 34.43px;
} 
.footer-left-side ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 11.11px;
}
.footer-left-side form{
    border: #EEEFFB;
    display: flex;
}
.footer-left-side input{
    border: 0;
    width: 240px;
    
}
.footer-left-side .btn{
    width: 135px;
    height: 43.32px;
    color: #EEEFFB;
    border-radius: 3px;
    font-family: "Roboto", sans-serif;

}

.footer-right-side .row{
    gap: 90px;
    align-items: flex-start;
}
 .catagories .row ,.customer-care .row ,.pages .row {
    flex-direction: column;
    gap: 46px;

}
.footer-right-side .row ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 23.2px;
}
@media screen and (min-width:0) and (max-width:590px){

    .footer-left-side .btn{
        width: 40px;
    }
    .footer-left-side input{
    width: 150px;
    
}
}
@media screen and (min-width:591px) and (max-width:990px){

    .footer-left-side .btn{
        width: 70px;
    }
}

/* end footer section */
