/*public section  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul{
    list-style-type: none;
}
h2{
    font-family: "Josefin Sans", sans-serif;
}
:root{
    --primarycolor:#FB2E86;
    --mainfont: "Lato", sans-serif;

}

 .container{
    width: 100%;
    padding:0 200px;
    max-width: 1920px;
    margin: 0 auto;
}
.btn{
    border: none;
    width: 51px;
    background-color: var(--primarycolor);
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
/* end public section */
/* start header */
.header{
    padding: 47px 0 35px;
    font-family:var(--mainfont);
    position: fixed;
    width: 100%;
}
.header .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.header .left-side{
    display: flex;
    align-items: center;
    gap: 88px;
}
.logo{
    width: 98px;
    height: 34px;
}
.logo img{
 width: 100%;
}
.left-side .list ul{
    display: flex;
    gap: 35px;
}
.left-side li a{
    color: #0D0E43;
    transition: .7s;
}
.left-side li :hover{
    color: var(--primarycolor);
    font-size: 30px;
}
.search-form form{
    display: flex;
    margin-left: 227px;
    height: 40px;
    border: 1px solid #E7E6EF;
}
.search-form input{
    border: none;
    width: 266px;
}

.search-form button img{
    width: 20px;
    margin: 8px;
}
.menu{
    display: none;
}

@media screen and (min-width:0) and (max-width:990px) {
    .list, .search-form{
        display: none;
    }
    .menu{
        display: block;
    }
/* end header section */
/* start hero section */
}
.hero{
    height: 1200px;
}
/* end hero section */
/* start shop-new section */
.shop-new{
    padding:174px 0 103px;
    background-image:url(../img/Rectangle\ 102.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.shop-new .row{
    flex-direction: column;
    text-align: center;
    gap: 28px;
    width: 574px;
}
.shop-new h2{
    font-size: 35px;
    color: #151875;
}
.shop-new .btn{
    width: 173px;
    height: 49px;
    color: #FFFFFF;
    font-family: "Josefin Sans", sans-serif;

}
@media screen and (min-width:0) and (max-width:990px){
   
  
}
/* end shop-new section */


/* start footer section*/
.footer{
    background-color: #EEEFFB;
    padding: 104.4px 0 112.18px;
}
.footer li a{
    font-family: var(--mainfont);
    color: #8A8FB9;
    transition: 1s;
}
.footer li:hover{
    font-size: 20px;
}
.footer .row{
    gap: 71px;
    align-items: flex-start;
}
.footer-left-side .row{
    flex-direction: column;
    align-items: flex-start;
    gap: 34.43px;
} 
.footer-left-side ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 11.11px;
}
.footer-left-side form{
    border: #EEEFFB;
    display: flex;
}
.footer-left-side input{
    border: 0;
    width: 240px;
    
}
.footer-left-side .btn{
    width: 135px;
    height: 43.32px;
    color: #EEEFFB;
    border-radius: 3px;
    font-family: "Roboto", sans-serif;

}

.footer-right-side .row{
    gap: 90px;
    align-items: flex-start;
}
 .catagories .row ,.customer-care .row ,.pages .row {
    flex-direction: column;
    gap: 46px;

}
.footer-right-side .row ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 23.2px;
}
@media screen and (min-width:0) and (max-width:990px){
    .footer-right-side .row div{
        width: 100%;
    }
}

/* end footer section */
